
ion-menu {
 /* background-color:black; */
    /* display:inline; */
    /* width: 100%;
    max-width: 250px; */
}
ion-menu > * > * > * > * > ion-button
   {
        display:block;
    }
    ion-menu > * > * > * > a
   {
        width: 100%;
    }
#logout {
    width: 100%;
    /* display:block; */
}
#logout > ion-button {
    /* width: 100%; */
    display:block;
}
.modalList{
      max-height: 350px;
      overflow-y: scroll;
    
}

#popOver .popover-content{
    width: auto !important;
}
